@model UserVM
@{
    ViewData["Title"] = "Create";
}

<h1>Details Employee</h1>
<br />
<br />

<form >
    
    <partial name="PartialView/DetailsDeleteUserPartialView"></partial>


    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

