@model UserVM

<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input class="form-control" asp-for="Id" readonly />
</div>

<div class="form-group">
    <label asp-for="FirstName" class="col-form-label"></label>
    <input class="form-control" asp-for="FirstName" readonly />
</div>

<div class="form-group">
    <label asp-for="LastName" class="col-form-label"></label>
    <input class="form-control" asp-for="LastName" readonly />
</div>

<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input class="form-control" asp-for="Email" readonly />
</div>
