@model EmployeeVM

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input class="form-control" asp-for="Name" readonly />
</div>

<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input class="form-control" asp-for="Age" readonly />
</div>

<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input class="form-control" asp-for="Address" readonly />
</div>

<div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input class="form-control" asp-for="Salary" readonly />
</div>

<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input class="form-control" asp-for="Email" readonly />
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />
</div>
<div class="form-group">
    <label asp-for="IsActive" class="form-check"></label>
    <input class="form-check" asp-for="IsActive" />
</div>
<div class="form-group">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input class="form-control" asp-for="HiringDate" readonly />
</div>